state_machines/av_download.json
{
  "Comment": "HLS stiching and save as file in s3 and email download link",
  "StartAt": "createTranscodeJob",
  "States": {
    "createTranscodeJob": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:123456789012:function:mediaTranscodeFunction",
      "Next": "checkTranscodeJobStatus",
      "InputPath": "$.transcodeInput",
      "ResultPath": "$.transcodeOutput"
    },
    "checkTranscodeJobStatus": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:123456789012:function:transcodeCompleteFunction",
      "InputPath": "$.transcodeOutput",
      "ResultPath": "$.transcodeOutput",
      "Next": "transcodeCompleted?"
    },
    "transcodeCompleted?": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.transcodeOutput.status",
          "StringEquals": "COMPLETE",
          "Next": "generateDownloadLink"
        }
      ],
      "Default": "Wait 10 seconds"
    },
    "Wait 10 seconds": {
      "Type": "Wait",
      "Seconds": 10,
      "Next": "checkTranscodeJobStatus"
    },
    "generateDownloadLink": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:123456789012:function:generateDownloadLinkFunction",
      "InputPath": "$.presignedUrlInput",
      "End": true
    }
  }
}