state_machines/av_download.json
{
  "Comment": "HLS stiching and save as file in s3 and email download link",
  "StartAt": "startTranscode",
  "States": {
    "startTranscode": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "Payload.$": "$.transcodeInput",
        "FunctionName.$": "$.configuration.startTranscodeFunction"
      },
      "Next": "transcodeStatus",
      "InputPath": "$",
      "ResultPath": "$.transcodeOutput"
    },
    "transcodeStatus": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "Payload.$": "$.transcodeOutput.Payload",
        "FunctionName.$": "$.configuration.transcodeStatusFunction"
      },
      "InputPath": "$",
      "ResultPath": "$.transcodeOutput",
      "Next": "transcodeCompleted?"
    },
    "transcodeCompleted?": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.transcodeOutput.Payload.status",
          "StringEquals": "COMPLETE",
          "Next": "getDownloadLink"
        },
        {
          "Variable": "$.transcodeOutput.Payload.status",
          "StringEquals": "ERROR",
          "Next": "failWorkflow"
        },
        {
          "Variable": "$.transcodeOutput.Payload.status",
          "StringEquals": "CANCELED",
          "Next": "failWorkflow"
        }
      ],
      "Default": "Wait 10 seconds"
    },
    "Wait 10 seconds": {
      "Type": "Wait",
      "Seconds": 10,
      "Next": "transcodeStatus"
    },
    "getDownloadLink": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "Payload.$": "$.presignedUrlInput",
        "FunctionName.$": "$.configuration.getDownloadLinkFunction"
      },
      "InputPath": "$",
      "ResultPath": "$.downloadLinkOutput",
      "Next": "sendTemplatedEmail"
    },
    "sendTemplatedEmail": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "Payload": {
          "to.$": "$.sendEmailInput.to",
          "from.$": "$.sendEmailInput.from",
          "template.$": "$.sendEmailInput.template",
          "params": {
            "downloadLink.$": "$.downloadLinkOutput.Payload.downloadLink",
            "fileSetId.$": "$.sendEmailInput.params.fileSetId",
            "fileSetLabel.$": "$.sendEmailInput.params.fileSetLabel",
            "workId.$": "$.sendEmailInput.params.workId",
            "fileType.$": "$.sendEmailInput.params.fileType"
          }
        },
        "FunctionName.$": "$.configuration.sendTemplatedEmailFunction"
      },
      "End": true
    },
    "failWorkflow": {
      "Type": "Fail"
    }
  }
}